:root {
    --main-clr: rgb(245, 203, 125);
    --sec-clr: rgb(191, 201, 255);
    --dark-sec-clr:rgb(0, 0, 141);
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {   
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--main-clr);
}

h1 {
    background-color: #fff;
    color: var(--dark-sec-clr);
    font-size: 48px;
    padding: 15px;
    margin: 50px;
    box-shadow: 5px 5px 10px 3px var(--dark-sec-clr);
    border-radius: 15px;
}

h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 30px;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    outline: 2px solid var(--dark-sec-clr);
    cursor: pointer;
}

button:hover { background-color: var(--sec-clr); }

button:active { outline-offset: -7px; }

p {
    margin: 50px auto;
    font-size: 25px;
}
